<div class="content">
    <div class="header">Дипломна робота</div>
    <div class="section">
        <div>Назва:</div>
        <div>Технологія проектування глобальних навігаційних систем</div>
    </div>
    <div class="section">
        <div>Автор:</div>
        <div>Муригін С.Ю.</div>
    </div>
    <div class="section">
        <div>Науковий керівник:</div>
        <div>Зудов О.М.</div>
    </div>
    <div class="section">
        <div>JS-бібліотеки:</div>
        <div>RequireJS, NodeJS, BackboneJS, UnderscoreJS, MomentJS, CesiumJS, jQuery, sgp4lib</div>
    </div>
    <div class="section">
        <div>Короткий опис:</div>
        <div>Даний продукт дає змогу:<br/>
            - в реальному часі та в зручному вигляді спостерігати позиції та інші дані
                реальних навігаційних супутників<br/>
            - обрати бажану Глобальну Навігаційну Супутникову Систему (ГНСС)<br/>
            - обрати один з трьох видів представлення<br/>
            - призупинити\прискорити рух модельованих супутників<br/>
            - обравши довільну позицію приймача на Землі, спостерігати супутники (та їх кількість),
                які забезпечують навігацію даного приймача<br/>
            - довільно змінювати дату та час
        </div>
    </div>
</div>