<div id="tl-panel">
    <div class="button" id="show-sat-menu"></div>
    <div class="button" id="show-map-menu"></div>
    <div class="button" id="show-player-menu"></div>
    <div class="button" id="show-pointer-menu"></div>
</div>
<div id="bl-panel">
    <div class="button" id="show-app-info"></div>
</div>
<div id="br-panel">
    <div class="button" id="zoom-in"></div>
    <div class="button" id="zoom-out"></div>
    <div class="button" id="fs-mode"></div>
</div>
<div id="message"></div>
<div id="real-date"></div>
<div id="show-date-menu">
    <span id="now-date"></span>
</div>
<div id="date-menu"></div>
<div id="sat-menu"></div>
<div id="map-menu"></div>
<div id="player-menu"></div>
<div id="pointer-menu"></div>
<div id="sat-info"></div>
<div id="pointer-info"></div>
<div id="app-info"></div>