<div class="content">
    <div class="header">Координати</div>
    <div class="section">
        <div>Довгота</div>
        <div>
            <span id="pointer-lon"></span><span> &deg;</span>
        </div>
    </div>
    <div class="section">
        <div>Широта</div>
        <div>
            <span id="pointer-lat"></span><span> &deg;</span>
        </div>
    </div>
    <div class="header">Видимі супутники</div>
    <div class="section">
        <div>Кількість:</div>
        <div id="sat-count"></div>
    </div>
</div>