<div class="content">
    <div id="sat-name" class="header"></div>
    <div class="section">
        <div>ID супутника</div><div id="sat-id"></div>
    </div>
    <div class="section">
        <div>Швидкість</div>
        <div>
            <span id="sat-vel"></span><span> км/c</span>
        </div>
    </div>
    <div class="section">
        <div>Довгота</div>
        <div>
            <span id="sat-lon"></span><span> &deg;</span>
        </div>
    </div>
    <div class="section">
        <div>Широта</div>
        <div>
            <span id="sat-lat"></span><span> &deg;</span>
        </div>
    </div>
    <div class="section">
        <div>Висота</div>
        <div>
            <span id="sat-alt"></span><span> км</span>
        </div>
    </div>
</div>